@model MVCBookingFinal_YARAB_.Models.Invoice

@{
    ViewData["Title"] = "Details";
    // Layout = "HotelRooms";
}

<h1>Details</h1>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="row">
        @* @if(Model.Payment.payment.GetType()==typeof(StripePaymentMethod)) *@
        @if(Model.Payment.payment is StripePaymentMethod method)
        {
            @* @{
                Model.Payment.payment is StripePaymentMethod method;
            } *@
            <dt class="col-sm-2">
                StripeId
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => method.AccountNumber)
            </dd>
        }
        else
        @if (Model.Payment.payment is CardPaymentMethod method2)
        {
            @* @{
                Model.Payment.payment is StripePaymentMethod method;
            } *@
            <dt class="col-sm-2">
                CardNumber
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => method2.CardNumber)
            </dd>
            <dt class="col-sm-2">
                CVV
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => method2.CVV);
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Id)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Reserved.FirstOrDefault().Room.Hotel.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Reserved.FirstOrDefault().Room.Hotel.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Reserved.FirstOrDefault().Room) 
        </dt>
        <dd class="col-sm-10">
            @foreach (var reservation in Model.Reservation.Reserved)
            {
                @Html.DisplayFor(model => reservation.Room.Id) <span> => @Html.DisplayFor(model => reservation.Room.PricePerNight)  per night</span>
                <br/>
            }
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Reserved.FirstOrDefault().Room.roomType)
        </dt>
        <dd class="col-sm-10">
            @foreach (var reservation in Model.Reservation.Reserved)
            {
                @Html.DisplayFor(model => reservation.Room.roomType)
                <br />
            }
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.mealPlan.plan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.mealPlan.plan) => @Html.DisplayFor(model => model.Reservation.mealPlan.Price) $ Per Day
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.amenity.Amenities)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.amenity.Amenities) => @Html.DisplayFor(model => model.Reservation.amenity.Price) $ Total
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Reserved.SingleOrDefault().User.UserName) 
        </dt>
        <dd class="col-sm-10">
            UserName: @Html.DisplayFor(model => model.Reservation.Reserved.SingleOrDefault().User.UserName)
            <br />
            Mail: @Html.DisplayFor(model => model.Reservation.Reserved.SingleOrDefault().User.Email)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.CheckInDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.CheckInDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.CheckOutDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.CheckOutDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tax)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tax) <span>%</span>
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.discount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.discount) <span>%</span>
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinalAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinalAmount)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.Id)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.payment.PaymentType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.payment.PaymentType)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.PaymentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.PaymentDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.UsedPromoCodes)
        </dt>
        <dd class="col-sm-10">
            @foreach (var Pc in Model.Reservation.UsedPromoCodes)
            {
                @Html.DisplayFor(model => Pc.PromoCode.Code)
                <br />
                @Html.DisplayFor(model => Pc.PromoCode.Discount) <span>%</span>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
