@model MVCBookingFinal_YARAB_.Models.Review

@{
    ViewData["Title"] = "Review Details";
}

<div class="container mt-4">
    <div class="card shadow-lg">
        <div class="card-header text-white text-center" style="background-color:#1A374D">
            <h3>Review Details</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered text-center">
                    <thead class="table">
                        <tr>
                            <th>Field</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="fw-bold">Hotel</td>
                            <td>@ViewBag.Hotel</td>
                        </tr>
                        <tr>
                            <td class="fw-bold">Address</td>
                            <td>@Html.DisplayFor(model => model.Hotel.Address)</td>
                        </tr>
                        <tr>
                            <td class="fw-bold">User</td>
                            <td>@Html.DisplayFor(model => model.User.UserName)</td>
                        </tr>
                        <tr>
                            <td class="fw-bold">Rating</td>
                            <td>@Html.DisplayFor(model => model.Rating)</td>
                        </tr>
                        <tr>
                            <td class="fw-bold">Description</td>
                            <td>@Html.DisplayFor(model => model.Description)</td>
                        </tr>
                        <tr>
                            <td class="fw-bold">Review Date</td>
                            <td>@Html.DisplayFor(model => model.ReviewDate)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center mt-4">
                <a asp-action="Index" class="btn btn-secondary px-4">Back to List</a>
            </div>
        </div>
    </div>
</div>
