@model IEnumerable<MVCBookingFinal_YARAB_.Models.Review>

@{
    ViewData["Title"] = "Index";
    var isAdmin = User.IsInRole("ADMIN");

}


<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hotel)
            </th>
            @if(isAdmin)
            { 
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>

            }

            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Hotel.Name)
                </td>
                @if (isAdmin)
                {
                    
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                }
                <td>
                    @for (int i = 1; i <= 5; i++)
                    {

                        if (i <= item.Rating)
                        {
                            <i class="fa-solid  fa-star" style="color:darkgoldenrod"></i>

                        }
                        else if (i > item.Rating)
                        {
                            <i class="fa-regular fa-star" ></i>
                        }
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.ReviewDate)
                </td>
                <td>
                    @if (!isAdmin)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        
                    }
                   
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
