

@model IEnumerable<MVCBookingFinal_YARAB_.Models.Room>
@{
    ViewData["Title"] = "Index";
    // Layout = "_MyLayout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <link rel="shortcut icon" href="~/favicon.png">

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />
</head>
<body>

<div class="container mb-5">
@if (User.IsInRole("ADMIN"))
{
    <p>
        <a asp-action="Create" class="btn btn-success">Create New</a>
    </p>
}
    <div class="content ">
        @foreach (var room in Model)
        {
            <div class="cardholder">
                <div class="imageholder ">
                      <div class="image">
                            <img src="~/ProductsImages/@room.Images.FirstOrDefault().Image"
                                 class="img-thumbnail img-clickable"
                                 data-bs-toggle="modal"
                                 data-bs-target="#imageModal" />
                      </div>
                    
                </div>
                <div class="cardinfo">
                    <label>RoomType :</label>
                    <span>@room.roomType</span>
                    <br />
                    <label>RoomCapacity :</label>
                    <span>@room.Capacity</span>
                    <br />

                    <label>RoomPrice Per Night :</label>
                    <span>@room.PricePerNight</span>
                    <br />

                    <label>RoomFloor :</label>
                    <span>@room.Floor</span>
                    <br />

                    <label>RoomStatus :</label>
                    <span>@room.Status</span>
                    <br />
                        <div class="my-3">
                            <a asp-action="Details" asp-route-id="@room?.Id" class="btn btn-info " >Details</a>
                            <a asp-action="Edit" asp-route-id="@room?.Id" class="btn btn-primary ">Edit</a>
                            <a asp-action="Delete" asp-route-id="@room?.Id" class="btn btn-danger ">Delete</a>
                        </div>
                </div>
                
            </div>
        }
    </div>
</div>
<partial name="_modalPartial"></partial>
</body>
</html>
