

@model IEnumerable<MVCBookingFinal_YARAB_.Models.Room>
@{
    ViewData["Title"] = "Index";
    // Layout = "_MyLayout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <link rel="shortcut icon" href="~/favicon.png">

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />
</head>
<body>

<h1>Index</h1>
<div class="container">
@if (User.IsInRole("ADMIN"))
{
    <p>
        <a asp-action="Create" class="btn btn-success">Create New</a>
    </p>
}
    <div class="content">
        @foreach (var room in Model)
        {
            @* <img src="~/ProductsImages/@img.Image"
                 data-src="@Url.Content("~/ProductsImages/" + img.Image)"
                 class="img-thumbnail img-clickable"
                 data-bs-toggle="modal"
                 data-bs-target="#imageModal"
                 style="width: 50px; height: 50px; object-fit: cover; border-radius: 50%; cursor: pointer;" /> *@
            <div class="cardholder">
                <div class="imageholder ">
                      <div class="image">
                            <img src="~/ProductsImages/@room.Images.FirstOrDefault().Image"
                                 class="img-thumbnail img-clickable"
                                 data-bs-toggle="modal"
                                 data-bs-target="#imageModal" />
                      </div>
                    
                </div>
                <div class="cardinfo">
                    <label>RoomType :</label>
                    <span>@room.roomType</span>
                    <br />
                    <label>RoomCapacity :</label>
                    <span>@room.Capacity</span>
                    <br />

                    <label>RoomPrice Per Night :</label>
                    <span>@room.PricePerNight</span>
                    <br />

                    <label>RoomFloor :</label>
                    <span>@room.Floor</span>
                    <br />

                    <label>RoomStatus :</label>
                    <span>@room.Status</span>
                    <br />                    
                </div>
                
            </div>
        }
    </div>
</div>

               @*  <td>
                    @foreach (var img in @item.Images)
                    {
                        <img src="~/ProductsImages/@img.Image"
                        data-src="@Url.Content("~/ProductsImages/" + img.Image)"
                        class="img-thumbnail img-clickable"
                             data-bs-toggle="modal"
                             data-bs-target="#imageModal"
                             style="width: 50px; height: 50px; object-fit: cover; border-radius: 50%; cursor: pointer;" />
                    }
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Add to maintainence</a>
            </td> *@
        
        




<partial name="_modalPartial"></partial>
</body>
</html>
